#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.photographer-info h1 {
    font-size: 50px;
    color: red;
}

.photographer-info h4 {
    font-size: 20px;
    color: red;
}


.photographer-portrait {
    width: 30%;
    display: flex;
    justify-content: end;
}

.photographer-portrait img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.info-displayer {
    background-color: #DB8876;
    position: fixed;
    z-index: 40;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    padding: 20px;
    right: 100px;
    gap: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.info-displayer span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.like-icon {
    height: 20px;
    width: 20px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 50;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 50%;
    border-radius: 5px;
    background-color: #DB8876;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: modalFadeIn 0.4s ease forwards;
    z-index: 100;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.media-gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 80px;
    gap: 20px;
}

.media-element {
    display: flex;
    flex-direction: column;
}

.media-thumb {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    /* optional */
}

.media-thumb img,
.media-thumb video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}